## GoLang
# Binaries for programs and plugins
*.exe

## Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Experiment files
*.ipynb

## Rust
*.lock
rust/target/

## Kotlin
kotlin/.idea/
kotlin/out/
*.iml
*.jar